<h1>Conoce Sobre Nosotros</h1>

<section>
    <img src="../../assets/img/nosotros.jpg" alt="Nuestra instalaciones">
    <div class="texto-sobreNosotros">
        <h2>25 Años de Experiencia</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus voluptatum explicabo ipsam in expedita itaque reiciendis cupiditate, assumenda, quia quas, enim suscipit obcaecati culpa temporibus quis illo soluta amet?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus voluptatum explicabo ipsam in expedita itaque reiciendis cupiditate, assumenda, quia quas, enim suscipit obcaecati culpa temporibus quis illo soluta amet?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus voluptatum explicabo ipsam in expedita itaque reiciendis cupiditate, assumenda, quia quas, enim suscipit obcaecati culpa temporibus quis illo soluta amet?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus voluptatum explicabo ipsam in expedita itaque reiciendis cupiditate, assumenda, quia quas, enim suscipit obcaecati culpa temporibus quis illo soluta amet?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus voluptatum explicabo ipsam in expedita itaque reiciendis cupiditate, assumenda, quia quas, enim suscipit obcaecati culpa temporibus quis illo soluta amet?</p>
    </div>
</section>

<section class="servicios">
    <h1>Más Sobre Nosotros</h1>

    <div class="iconos-nosotros">
        <div class="icono">
            <img src="../../assets/img/icono1.svg" alt="icono Seguridad" loading="lazy">
            <h3>Seguridad</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt incidunt, vel odit eum temporibus fugiat excepturi exercitationem maxime natus dolore quasi amet quo nemo eveniet ipsam! Tempora rem odio quod.</p>
        </div>
        <div class="icono">
            <img src="../../assets/img/icono2.svg" alt="icono Precio" loading="lazy">
            <h3>Precio</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt incidunt, vel odit eum temporibus fugiat excepturi exercitationem maxime natus dolore quasi amet quo nemo eveniet ipsam! Tempora rem odio quod.</p>
        </div>
        <div class="icono">
            <img src="../../assets/img/icono3.svg" alt="icono Tiempo" loading="lazy">
            <h3>Tiempo</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt incidunt, vel odit eum temporibus fugiat excepturi exercitationem maxime natus dolore quasi amet quo nemo eveniet ipsam! Tempora rem odio quod.</p>
        </div>
    </div>
</section>