<main class="contenedor seccion">
    <h1>Administrador de Bienes Raices</h1>

    <a [routerLink]="['crear']" class="boton boton-verde">Nueva propiedad</a>

    <table class="propiedades">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Imagen</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        
        <tbody *ngFor="let dato of datos; let i = index">

            <tr>
                <td >{{i + 1}}</td>
                <td>{{dato.titulo}}</td>
                <td>
                 <img *ngIf="dato.imagen && dato.imagen.url; else noImagen" [src]= "url + dato.imagen.url" [alt]="'imagen ' + dato.titulo" class="imagen-tabla" loading="lazy">
                <ng-template #noImagen>
                    <img src="./assets/img/no-hay-foto.jpg" alt="Imagen no disponible" class="imagen-tabla" loading="lazy">
                </ng-template>

                </td>
                <td>{{dato.precio}}</td>
                <td>
                    <a (click)="eliminarPropiedad(dato.id)" class="boton boton-rojo" style="cursor: pointer;">Eliminar</a>
                    <a [routerLink]="['editar', dato.id]" class="boton boton-celeste">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>
</main>
