a {
    margin-bottom: 1rem;
}

table.propiedades {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;

    thead {
        background-color: var(--verde);

        th {
            color: var(--blanco);
            padding: 2rem;
            // border-bottom: solid 1px black;
        }
    }
  
    .imagen-tabla {
        width: 10rem;
    }
}

td {
    border-bottom: 1px solid var(--gris);
    padding: 2rem;
}

@media (max-width: 570px /*tablet*/) {
    table {
        display: grid;
        grid-template-columns: 29% 73%;
    }
    .imagen-tabla {
        width: 100% !important;
    }
    thead tr {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    tbody tr {
        display: flex;
        flex-direction: column;
    }
}