<main class="contenedor seccion">
    <h1>Administrador de Bienes Raices</h1>

    <a [routerLink]="'crear'" class="boton boton-verde">Nueva propiedad</a>

    <table class="propiedades">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Imagen</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        
        <tbody *ngFor="let dato of datos">
            <tr>
                <td >{{dato.id}}</td>
                <td>{{dato.titulo}}</td>
                <td>
                    <img *ngIf="dato.imagen; else noImagen" src="http://localhost:3031/imagenes/{{dato.imagen}}" alt="imagen {{dato.titulo}}" class="imagen-tabla">
                    <ng-template #noImagen>
                        <img src="../../../assets/img/no-hay-foto.jpg" alt="Imagen no disponible" class="imagen-tabla">
                    </ng-template>
                </td>
                <td>${{dato.precio}}</td>
                <td>
                    <a href="" class="boton boton-rojo">Eliminar</a>
                    <a [routerLink]="['actualizar', dato.id]"  class="boton boton-amarillo">Actualizar</a>
                </td>
            </tr>
        </tbody>
    </table>
</main>
