<h1>Casas y Departamentos en Venta</h1>
<section class="seccion contenedor">
    <div class="contenedor-anuncios">
        <div class="anuncio" *ngFor="let dato of datos">
            <picture>
                <img *ngIf="dato.imagen && dato.imagen.url; else noImagen" [src]= "url + dato.imagen.url" [alt]="'imagen ' + dato.titulo" class="imagen-tabla" loading="lazy">
                <ng-template #noImagen>
                    <img src="./assets/img/no-hay-foto.jpg" alt="Imagen no disponible" class="imagen-tabla" loading="lazy">
                </ng-template>
            </picture>

            <div class="contenido-anuncio">
                <h3>{{dato.titulo}}</h3>
                <p>{{dato.descripcion}}</p>
                <p class="precio">${{dato.precio}}</p>

                <ul class="iconos-caracteristicas">
                    <li>
                        <img src="../../assets/img/icono_wc.svg" alt="icono wc" loading="lazy">
                        <p>{{dato.banio}}</p>
                    </li>
                    <li>
                        <img src="../../assets/img/icono_estacionamiento.svg" alt="icono estacionamiento" loading="lazy">
                        <p>{{dato.estacionamiento}}</p>
                    </li>
                    <li>
                        <img src="../../assets/img/icono_dormitorio.svg" alt="icono dormitorio" loading="lazy">
                        <p>{{dato.habitaciones}}</p>
                    </li>
                </ul>

                <a [routerLink]="['/anuncio', dato.id]" class="boton boton-amarillo">
                    Ver Propiedad
                </a>
            </div> <!--.contenido-anuncio-->
        </div> <!--.anuncio-->

        
        
    </div> <!--.contenedor-anuncios-->
</section>