:root{
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Light.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


--fuente_principal: 'Lato', sans-serif;

--telefono: 480px;
--tablet: 768px;
--desktop: 1024px;


--negro: #000000;
--amarillo: #df860a;
--celeste: #18b3fa;
--rojo: #ff1313;
--verde: #71B100;
--blanco: #FFFFFF;
--gris: #e1e1e1;
--grisOscuro: #333333;

--separacion: 5rem;


--delgada: 300;
--regular : 400;
--bold: 700;
--black: 900;
}
